@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 31 100% 95%;
  --foreground: 31 5% 10%;
  --card: 31 50% 90%;
  --card-foreground: 31 5% 15%;
  --popover: 31 100% 95%;
  --popover-foreground: 31 100% 10%;
  --primary: 31 99% 57%;
  --primary-foreground: 0 0% 100%;
  --secondary: 31 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -7 30% 85%;
  --muted-foreground: 31 5% 35%;
  --accent: -7 30% 80%;
  --accent-foreground: 31 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 31 5% 90%;
  --border: 31 30% 50%;
  --input: 31 30% 18%;
  --ring: 31 99% 57%;
  --radius: 1rem;
  --physical: 122 39% 49%;
  --emotional: 0 84% 60%;
  --intellectual: 217 91% 60%;
  --spiritual: 271 91% 65%;
  --occupational: 25 95% 53%;
  --social: 45 93% 47%;
  --mood-verysad: 0 91% 71%;
  --mood-sad: 27 96% 61%;
  --mood-neutral: 38 93% 77%;
  --mood-happy: 213 94% 68%;
  --mood-veryhappy: 172 66% 50%;
}
.dark {
  --background: 31 50% 10%;
  --foreground: 31 5% 90%;
  --card: 31 50% 10%;
  --card-foreground: 31 5% 90%;
  --popover: 31 50% 5%;
  --popover-foreground: 31 5% 90%;
  --primary: 31 99% 57%;
  --primary-foreground: 0 0% 100%;
  --secondary: 31 30% 16%;
  --secondary-foreground: 0 0% 100%;
  --muted: -7 30% 16%;
  --muted-foreground: 31 5% 60%;
  --accent: -7 30% 16%;
  --accent-foreground: 31 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 31 5% 90%;
  --border: 31 30% 18%;
  --input: 31 30% 18%;
  --ring: 31 99% 57%;
  --radius: 1rem;
  --mood-verysad: 0 91% 71%;
  --mood-sad: 27 96% 61%;
  --mood-neutral: 38 93% 77%;
  --mood-happy: 213 94% 68%;
  --mood-veryhappy: 172 66% 50%;
}

@layer base {
  * {
    @apply scroll-smooth border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .popover-content-width-full {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
}

:root {
  --start-color: #9c2cf3; /* Blue */
  --end-color: #3a49f9; /* Green */
  --color-physical: hsl(122 39% 49%);
  --color-emotional: hsl(4 90% 58%);
  --color-intellectual: hsl(207 90% 54%);
  --color-spiritual: hsl(291 64% 42%);
  --color-occupational: hsl(36 100% 50%);
  --color-social: hsl(54 100% 62%);
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
