.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-content {
  text-align: center;
  margin-bottom: 1.5rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.paragraph {
  font-size: 1.125rem;
  color: #6b7280;
  max-width: 400px;
  margin: 0 auto 1.5rem auto;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.image {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.get-started-button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .image-wrapper {
    flex: 1;
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .text-button-wrapper {
    flex: 1;
    align-items: center;
    text-align: center;
  }

  .text-content {
    margin-bottom: 1.5rem;
  }

  .button-wrapper {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .image-wrapper {
    margin-bottom: 1rem;
  }

  .image {
    width: 80%;
  }

  .button-wrapper {
    margin-top: -0.5rem;
  }
}
